doctype html
html
  head
    title= title
    mete(charset="UTF-8")
    mete(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/client/js/ht.ico', type='image/x-ico' )
  body
    block content


