extends layout



block content
  div(id="box")
  script(src="/videoClient/js/data.js")
  script(src="/videoClient/js/htconfig.js")
  script(src="/videoClient/libs/core/ht.js")
  script(src="/videoClient/libs/plugin/ht-obj.js")
  script(src="/videoClient/libs/plugin/ht-form.js")
  script(src="/videoClient/libs/plugin/echarts.min.js")
  script(src="/videoClient/libs/plugin/ht-vector.js")
  script(src="/videoClient/libs/plugin/ht-animation.js")
  script(src="/videoClient/js/axios.min.js")
  script(src="/videoClient/js/index.js", type="text/javascript")
  



