doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='/javascripts/axios.min.js')
      script(src='/javascripts/index.js')
  body
    block content


